.winnerText {
  color: var(--c-tag-general);
  display: inline;
}

.winnerName {
  color: var(--c-rank-first);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@media (min-width: 650px) {
  .buttonContainer {
    width: 80%;
  }
}

@media (min-width: 850px) {
  .buttonContainer {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .buttonContainer {
    width: 40%;
  }
}

@media (min-width: 2200px) {
  .buttonContainer {
    width: 30%;
  }
}
