.leaderboardPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nextRoundButton {
  color: var(--c-tag-character);
  border: 2px solid var(--c-tag-character);
  border-radius: 8px;
  background-color: transparent;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 1em;
  font-weight: bold;
  padding: 12px;
  transition: background-color 0.2s, color 0.2s, transform 0.2s, opacity 0.2s;
  opacity: 0.25;
}

.nextRoundButtonEnabled {
  opacity: 1;
}

.nextRoundButtonEnabled:hover {
  transform: scale(1.25);
  background-color: var(--c-tag-character);
  color: var(--background);
}

.nextRoundButtonEnabled:focus {
  transform: scale(1.05);
}

.mediaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px 0;
  grid-template-areas: '. .';
}

@media (max-width: 768px) {
  .mediaContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      '.'
      '.';
  }
}
