.container {
  flex: 1 1 auto;
  align-self: auto;
  background-color: var(--card);
  padding: 25px;
  margin: 20px 75px 0 75px;
  border-radius: 20px;
}

.container img {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .container {
    margin: 20px 40px 0 40px;
    padding: 20px;
  }
}

@media (max-width: 490px) {
  .container {
    margin: 15px 20px 0 20px;
    padding: 15px;
  }
}

@media (max-width: 430px) {
  .container {
    margin: 10px 10px 0 10px;
    padding: 10px;
  }
}

.mobileContainer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 0;
  margin: 0;
  border-radius: 0;
  z-index: 1;
}

.mobileContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
}
