.container {
  flex: 1 1 auto;
  align-self: auto;
  background-color: var(--section-lighten-5);
  padding: 10px;
  margin: 0;
  border-radius: 8px;
  border: 1px solid var(--table-border);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .container {
    margin: 0;
    padding: 8px;
  }
}

@media (max-width: 490px) {
  .container {
    margin: 0;
    padding: 6px;
  }
}

@media (max-width: 430px) {
  .container {
    margin: 0;
    padding: 4px;
  }
}

.mobileContainer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 0;
  margin: 0;
  border-radius: 0;
  z-index: 1;
}

.mobileContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
}
