.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  background: color-mix(in oklch, var(--background), transparent 5%);
  z-index: 20;
}

.nextRoundOverlay {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 30;
}

.form {
  display: flex;
  width: 100%;
}

.input {
  flex: 1;
  height: 44px;
  border-radius: 8px;
  padding: 0 12px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: white;
  color: #000;
}

.input:focus {
  background-color: #ffc;
}

.input::placeholder {
  color: #888;
}
