.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  align-self: flex-start;
  font-size: 1rem;
}

@media (min-width: 900px) {
  .title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1500px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 0.95rem;
  }
}

@media (max-width: 490px) {
  .title {
    font-size: 0.9rem;
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 0.85rem;
  }
}

@media (max-width: 390px) {
  .title {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 0.75rem;
  }
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  color: var(--picker-color);
}

@media (max-width: 600px) {
  .list {
    font-size: 0.95rem;
  }
}

@media (max-width: 490px) {
  .list {
    font-size: 0.9rem;
  }
}

@media (max-width: 430px) {
  .list {
    font-size: 0.85rem;
  }
}

@media (max-width: 390px) {
  .list {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  .list {
    font-size: 0.75rem;
  }
}

.pickable {
  border-radius: 50%;
  background-color: var(--picker-bg);
  border: 0.1em solid var(--picker-color);
  transition: background-color 0.2s, transform 0.2s, color 0.2s, border 0.2s;
  color: var(--picker-color);
  font-size: 0.75rem;
  height: 2rem;
  width: 2rem;
  margin: 8px;
  text-align: center;
  padding: 0;
}

@media (min-width: 900px) {
  .pickable {
    font-size: 1rem;
    height: 3rem;
    width: 3rem;
  }
}

@media (min-width: 1500px) {
  .pickable {
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
  }
}

.pickable:hover {
  color: var(--picker-bg);
  transform: scale(1.25);
  border: 0.1em solid var(--picker-color);
  background-color: var(--picker-color);
}

.selected {
  color: var(--picker-bg);
  background-color: var(--picker-color);
  transform: scale(1.15);
  border: 0.1em solid var(--picker-color);
}

@media (max-width: 600px) {
  .pickable {
    font-size: 0.7rem;
    height: 1.9rem;
    width: 1.9rem;
    margin: 6px;
  }
}

@media (max-width: 490px) {
  .pickable {
    font-size: 0.65rem;
    height: 1.8rem;
    width: 1.8rem;
    margin: 5px;
  }
}

@media (max-width: 430px) {
  .pickable {
    font-size: 0.6rem;
    height: 1.7rem;
    width: 1.7rem;
    margin: 4px;
  }
}

@media (max-width: 390px) {
  .pickable {
    font-size: 0.55rem;
    height: 1.6rem;
    width: 1.6rem;
    margin: 3px;
  }
}

@media (max-width: 360px) {
  .pickable {
    font-size: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    margin: 2px;
  }
}
