.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.tagListAndInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
