.visibleTag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 2px;
}

@media (max-width: 600px) {
  .visibleTag {
    padding: 2px 1px;
    font-size: 0.95em;
  }
}

@media (max-width: 490px) {
  .visibleTag {
    font-size: 0.9em;
  }
}

@media (max-width: 430px) {
  .visibleTag {
    padding: 1px;
    font-size: 0.85em;
  }
}

@media (max-width: 390px) {
  .visibleTag {
    font-size: 0.8em;
  }
}

@media (max-width: 360px) {
  .visibleTag {
    font-size: 0.75em;
  }
}

.hiddenTag {
  display: block;
  margin: 8px;
  letter-spacing: 20px;
  border: 2px dashed var(--c-tag-general);
  border-radius: 5px;
  text-align: center;
  font-style: italic;
}

@media (max-width: 600px) {
  .hiddenTag {
    letter-spacing: 15px;
    margin: 6px;
  }
}

@media (max-width: 490px) {
  .hiddenTag {
    letter-spacing: 12px;
  }
}

@media (max-width: 430px) {
  .hiddenTag {
    letter-spacing: 10px;
    margin: 5px;
    border-width: 1px;
  }
}

@media (max-width: 390px) {
  .hiddenTag {
    letter-spacing: 8px;
    margin: 4px;
  }
}

@media (max-width: 360px) {
  .hiddenTag {
    letter-spacing: 6px;
    margin: 3px;
    border-radius: 3px;
  }
}
