/* this file is unused, replaced with styled components and theming */

:root {
    /* colors */
    --c-body-light: #1F3C67;
    --c-tag-artist: #F2AC08;
    --c-tag-character: #00AA00;
    --c-tag-species: #ED5D1F;

    --c-lobby-background: rgb(0, 45, 85);

    --background-image: url('../../images/e6TagGameMascot.png');
    --background-image-blur: url('../../images/e6TagGameMascotBlur.png');
    

    /* padding */
    --p-tag-list: 10px;

    /* margin */
    --m-tag: 8px;

    /* height */
    --input-height: 25px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: inherit;
}

body {
    margin: 0;
    background-color: var(--c-lobby-background);
    font-family: Verdana, sans-serif;
    color: white;
    background-image: url("../../images/e6TagGameMascot.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-size: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 13px 0 5px 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

p {
    margin: 0;
}

/* moved */
.tag-list-label {
    margin: 10px 0px 10px 0px;
}

/* moved */
.media-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 30px 0px; 
    grid-template-areas: 
        ". .";
}

/* TAG INPUT FIELD */


.tags-input-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 1fr; 
    gap: 30px 10px;
}

.tags-input {
    flex: 0 1 auto;
    padding: 0px 5px 5px 8px;
    font-size: 20px;
    border-radius: 10px;
}
.tags-input:focus{
    outline: none;
}

.tags-input input{
    padding: 2px 2px 2px 5px;
    border-radius: 8px;
    height: var(--input-height);
    font-family: Verdana, sans-serif;
    font-size: .75em;
    font-weight: bold;
}

.tags-input input:focus{
    outline: none;
}

/* TAG LIST CONTAINING GRIDS */

.tags-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 20px; 
    grid-template-areas: 
        ". .";

    padding-top: 5px;

    min-width: 90%;
}

/* unsure where used */

.general-tags-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 10px; 
    grid-template-areas: 
    ". ."; 
}

.tags-list {
    display: block;
    background-color: #1F3C67;

    flex: 1 1 auto;

    border-radius: 10px;

    font-size: 0.85em;

    padding: var(--p-tag-list);
}

/* also unsure where used */
.general-tags-list-extension {
    margin-right: 10px;
}
